@model List<ServiceOrdersCountModel>


<div class="container">
    <div class="row">
        <div class="col-5 justify-content-center mt-3">
            <h2>Orders by services</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-5 justify-content-center">
            <table class="table mt-3">
                <thead class="resp-table-header">
                    <tr>
                        <th class="serviceName text-left align-content-center">Service name</th>
                        <th class="orders-count text-center">Orders count</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Any())
                    {
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="serviceName text-left">
                                    <a asp-controller="OrderByService"
                                       asp-action="OrdersServiceDetails"
                                       asp-route-serviceName="@item.ServiceName"
                                       title="Просмотреть">@item.ServiceName</a>
                                </td>
                                <td class="orders-count text-center">@item.OrdersCount</td>
                            </tr>
                        }
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>