@model List<ServiceOrdersCountModel>

<div>
    <h2>Orders by services</h2>
</div>

<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-7">
            <table class="table mt-5">
                <thead>
                    <tr>
                        <th class="serviceName text-left">Service name</th>
                        <th class="orders-count">Orders count</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Any())
                    {
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="serviceName text-left">
                                    <a asp-controller="OrderByService"
                                       asp-action="OrdersServiceDetails"
                                       asp-route-serviceName="@item.ServiceName"
                                       title="Просмотреть">@item.ServiceName</a>
                                </td>
                                <td class="orders-count">@item.OrdersCount</td>
                            </tr>
                        }
                    }

                </tbody>
            </table>
        </div>
        <div class="col"></div>
    </div>
</div>