@model ProjectModel

@{
    ViewData["Title"] = "Add Project";

    string HeaderLabelText = ViewBag.HeaderText;
    string DescriptionLabelText = ViewBag.DescriptionText;
    IFormFile formFile = null;
}

<html>
<head>
    <script src="~/lib/jquery/admin/jquery-1.12.4.min.js"></script>
</head>
<body>
</body>
</html>

<div class="container">
    <section id="addProject">
        <div class="row text-left mt-3">
            <h3>Add new project</h3>
        </div>
        <div class="row mt-2">
            <form id="addProjectModel"
                  asp-controller="ManageHomePage"
                  asp-action="ChangeNameLinkTopMenu"
                  method="post"
                  enctype="multipart/form-data">
                <div class="row mt-1">
                    <label class="text-danger label-name-link"
                           style="height:1.2rem;width:5rem;">
                        @HeaderLabelText
                    </label>
                    <input asp-for="@Model.ProjectHeader"
                           type="text"
                           class="input-data-field input-sm ml-1 mr-1" />
                </div>
                <div class="row mt-1">
                    <label class="text-danger label-name-link"
                           style="height:1.2rem;width:5rem;">
                        @DescriptionLabelText
                    </label>
                    <textarea asp-for="@Model.ProjectDescription"
                              cols="40"
                              rows="10"></textarea>
                </div>
                <div class="row mt-1">
                    <label id="choose-file-label"
                           for="mainImage"
                           class="btn-choose-file"
                           title="Choose image">
                        Choose image
                    </label>
                    <input id="image"
                           type="file"
                           accept=".jpg, .jpeg, .png, .webp"
                           placeholder="Choose image"
                           class="select-image"
                           name="image"
                           value="@formFile"
                           alt="Choose image">
                    <label id="choose-file-text"
                           class="label-not-choose-image">
                        Image not choosed
                    </label>
                </div>
                <button class="btn-manage btn-manage-edit btn-edit-link justify-content-end mr-1"
                        type="submit"
                        title="Edit link name">
                    Add
                </button>
            </form>
        </div>
    </section>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $('#image').change(function () {
            var i = $(this).prev('label').clone();
            var file = $('#image')[0].files[0].name;
            $(this).prev('label').text(file);
            $(this).next('label').removeClass('label-not-choose-image');
            $(this).next('label').addClass('label-choose-image');
            $(this).next('label').text("Image choosed");
        });
    });

</script>