@model List<ProjectModel>
@{
    ViewData["Title"] = "Edit Projects Page";
}

<div class="ml-3">
    <section id="addProject">
        <div class="row text-left pt-3 ml-1">
            <h3>Add new project</h3>
        </div>
        <div class="row ml-3">
            <a class="btn btn-primary btn-effect"
               asp-area="Management"
               asp-controller="ManageProjectsPage"
               asp-action="AddProject"
               title="Add project">Add</a>
        </div>
    </section>

    <section id="editProjects">
        <div class="row mt-3 ml-1">
            <h3>Edit projects</h3>
        </div>

        <div class="row d-inline-flex justify-content-start ml-1 mt-1 all-projects">

            @if (Model.Any())
            {
                @foreach (var item in Model)
                {
                    <div class="card-project">
                        <form id="formChangePhrase"
                              asp-controller="ManageProjectsPage"
                              asp-route-id="@item.Id"
                              method="post">
                            <div class="d-block">
                                <div class="">
                                    @if (item.ProjectImage != null)
                                    {
                                        <img class="img-project"
                                             src="data:image;base64,@(Convert.ToBase64String(item.ProjectImage))">
                                    }
                                </div>
                                <div class="label-header-project">
                                    <label>
                                        @item.ProjectHeader
                                    </label>
                                </div>
                            </div>
                            <div class="text-right btns-card-project">
                                <button class="btn-manage btn-manage-edit"
                                        asp-action="ChangeProjectPage"
                                        asp-route-id="@item.Id"
                                        type="submit"
                                        title="Edit project">
                                    🖉
                                </button>
                                <button class="btn-manage btn-manage-delete mr-1"
                                        asp-action="DeleteProjectById"
                                        asp-route-id="@item.Id"
                                        type="submit"
                                        title="Delete project">
                                    🗑
                                </button>
                            </div>
                        </form>
                    </div>
                }
            }
        </div>
    </section>
</div>
