/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.left-custom-menu-adp-wrap .mCustomScrollBox, .left-custom-menu-adp-wrap .mCSB_container {
    overflow: unset
}

.mini-navbar #sidebar.active .sidebar-nav ul.metismenu li ul.submenu-angle {
    width: 200px;
    left: 80px;
    position: absolute;
    z-index: 999
}

    .mini-navbar #sidebar.active .sidebar-nav ul.metismenu li ul.submenu-angle li a {
        text-align: left
    }

.mini-navbar #sidebar.active .sidebar-nav .metismenu a {
    padding: 16px 15px
}

.table-row-header {
    white-space: nowrap;
}

.table-cell-data {
    display: table-cell;
    padding-left: 0.2rem;
    text-align: center !important;
    align-content: center !important;
    background-color: transparent;
}

.table-cell-button {
    padding: 0.72rem 1rem;
    text-align: center !important;
    align-content: center !important;
    background-color: #caf3ff;
    font-weight: 700;
    border: 2px solid #0cc7ff;
    border-radius: 0.3rem;
}

    .table-cell-button:active {
        border: 2px solid #1a55ff;
        border-radius: 0.3rem;
        box-shadow: 0px 0px 4px coral;
    }

.table-cell-button-last {
    padding: 0.2rem 1.5rem 0.2rem 1.2rem;
    width: 25rem;
    background-color: #caf3ff;
    font-weight: 700;
    border: 2px solid #0cc7ff;
    border-radius: 0.3rem;
}

    .table-cell-button-last:active {
        border: 2px solid #1a55ff;
        border-radius: 0.3rem;
        box-shadow: 0px 0px 4px coral;
    }

.input-group-addon{
    padding: 0 4px;
}


