<div class="input-daterange input-group" id="datepicker">
    <span class="input-group-addon align-content-center">Date from</span>
    <input type="text" class="input-sm form-control" name="start" />
    <span class="input-group-addon align-content-center">to</span>
    <input type="text" class="input-sm form-control" name="end" />
</div>
