<div id="datepicker" class="input-daterange input-group">
    <span class="input-group-addon align-content-center">Date from</span>
    <input id="date1" type="date" class="datepicker input-sm form-control" name="start" value="" />
    <span class="input-group-addon align-content-center">to</span>
    <input id="date2" type="date" class="input-sm form-control" name="end" value="" />
</div>