@model OrdersModel

<html>
<head>
    <link href="~/css/bootstrap-datepicker3.css" rel="stylesheet" />
    <script src="~/lib/jquery/admin/jquery-1.12.4.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/bootstrap-datepicker.js"></script>
    <script src="~/js/moment-with-locales.min.js"></script>
    @*<script src="~/js/bootstrap-datepicker.ru.js"></script>*@
    @*<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />*@
    @*<link href="~/css/bootstrap-datepicker.css" rel="stylesheet" />*@
</head>
<body>
</body>
</html>

    <div class="container-button">
        <div class="input-daterange input-group-data align-content-center">
            <span class="input-data-span">Date from</span>
        </div>
        <div id="datefrom" class="input-daterange input-group-data">
            <input asp-for="DateFrom" type="text" class="input-data input-sm d-inline-flex" />
        </div>
        <div class="input-daterange input-group-data align-content-center">
            <span class="input-data-span">to</span>
        </div>
        <div id="dateto" class="input-daterange input-group-data">
            <input asp-for="DateTo" type="text" class="input-data input-sm d-inline-flex" />
        </div>
    </div>

<script type="text/javascript">

    $('#datefrom').datepicker({
        format: "dd.mm.yyyy",
        weekStart: 1,
        clearBtn: true,
        language: "en-US",
        autoclose: true,
        forceParse: true,
        todayHighlight: true
    });
    $('#datefrom').datepicker('show');

    $('#dateto').datepicker({
        format: 'dd.mm.yyyy',
        weekStart: 1,
        clearBtn: true,
        language: 'en-US',
        autoclose: true,
        forceParse: true,
        todayHighlight: true
    });
    $('#dateto').datepicker('show');

</script>