<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyFlat</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/meanmenu.min.css" />
    <link rel="stylesheet" href="~/css/metisMenu-vertical.css" />
    <link rel="stylesheet" href="~/css/metisMenu.min.css" />
    <link rel="stylesheet" href="~/css/jquery.mCustomScrollbar.min.css" />
    <link rel="stylesheet" href="~/css/responsive.css" />
    <link rel="stylesheet" href="~/css/nalika-icon.css" />
    <link rel="stylesheet" href="~/css/animate.css" />
    <link rel="stylesheet" href="~/css/normalize.css" />
</head>
<body>
    <div class="left-sidebar-pro">
        <nav id="sidebar" class="">
            <div class="sidebar-header">
                <a class="navbar-brand w-100 text-center"
                   asp-area=""
                   asp-controller="Home"
                   asp-action="Index">
                    <img class="mt-2 pt-md-0 main-logo" 
                         src="~/Images/kind.png" 
                         width="60" 
                         height="45" 
                         alt="header-logo">
                </a>
            </div>
            <div id="accordion" class="manage-accordion w-100">
                <div class="card mt-1">
                    <div class="card-header p-0" id="headingOne">
                        <h2 class="mb-0">
                            <button class="d-flex pr-4 align-items-center justify-content-between 
                                           btn btn-link collapsed"
                                    data-toggle="collapse"
                                    data-target="#collapseOne"
                                    aria-expanded="false"
                                    aria-controls="collapseOne">
                                <div class="heading d-flex align-items-center">
                                    <h3 class="mb-0 ml-3 p-3">Desktop</h3>
                                </div>
                                <i class="fa-manage" aria-hidden="true"></i>
                            </button>
                        </h2>
                    </div>
                    <div id="collapseOne"
                         class="collapse"
                         aria-labelledby="headingOne"
                         data-parent="#accordion"
                         style="">
                        <div class="card-body p-0">
                            <ul>
                                <li class="">
                                    <a asp-area="Management"
                                       asp-controller="ManageView"
                                       asp-action="ManageHome"
                                       class="d-flex justify-content-between align-items-center">
                                        <p>Orders by service</p>
                                        <i class="ion-ios-arrow-forward"></i>
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="Management"
                                       asp-controller="ManageView"
                                       asp-action="AllOrders" 
                                       class="d-flex justify-content-between 
                                              align-items-center">
                                        <p>All orders</p>
                                        <i class="ion-ios-arrow-forward"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="mt-1">
                    <div class="card-header p-0" id="headingTwo">
                        <h2 class="mb-0">
                            <a class="link-left-menu d-flex pr-4
                               align-items-center justify-content-between
                               btn-link collapsed mb-0 ml-3 p-3"
                               asp-area="Management"
                               asp-controller="ManageHomePage"
                               asp-action="HomePage">
                                Home
                            </a>
                        </h2>
                    </div>
                </div>
                <div class="card mt-1">
                    <div class="card-header p-0" id="headingThree">
                        <h2 class="mb-0">
                            <a class="link-left-menu d-flex pr-4
                                                   align-items-center justify-content-between
                                                   btn-link collapsed mb-0 ml-3 p-3"
                               asp-area="Management"
                               asp-controller="ManageProjectsPage"
                               asp-action="Projects">
                                Projects
                            </a>
                        </h2>
                    </div>
                </div>
                <div class="card mt-1">
                    <div class="card-header p-0" id="headingFour">
                        <h2 class="mb-0">
                            <a class="link-left-menu d-flex pr-4
                                                   align-items-center justify-content-between
                                                   btn-link collapsed mb-0 ml-3 p-3"
                               asp-area="Management"
                               asp-controller="ManageServicesPage"
                               asp-action="Services">
                                Services
                            </a>
                        </h2>
                    </div>
                </div>
                <div class="card mt-1">
                    <div class="card-header p-0" id="headingFive">
                        <h2 class="mb-0">
                            <a class="link-left-menu d-flex pr-4
                                      align-items-center justify-content-between
                                      btn-link collapsed mb-0 ml-3 p-3"
                               asp-area="Management"
                               asp-controller="ManageBlogsPage"
                               asp-action="Blogs">
                                Blogs
                            </a>
                        </h2>
                    </div>
                </div>
                <div class="card mt-1">
                    <div class="card-header p-0" id="headingSix">
                        <h2 class="mb-0">
                            <a class="link-left-menu d-flex pr-4 
                               align-items-center justify-content-between 
                               btn-link collapsed mb-0 ml-3 p-3"
                               asp-area="Management"
                               asp-controller="ManageContactsPage"
                               asp-action="Contacts">
                                Contacts
                            </a>
                        </h2>
                    </div>
                </div>
                <div class="card mt-1">
                    <div class="card-header p-0" id="headingSeven">
                        <h2 class="mb-0">
                            <button class="d-flex pr-4 align-items-center justify-content-between 
                                    btn btn-link collapsed"
                                    data-toggle="collapse"
                                    data-target="#collapseSeven"
                                    aria-expanded="false"
                                    aria-controls="collapseSeven">
                                <div class="heading d-flex align-items-center">
                                    <h3 class="mb-0 ml-3 p-3">Users</h3>
                                </div>
                                <i class="fa-manage" aria-hidden="true"></i>
                            </button>
                        </h2>
                    </div>
                    <div id="collapseSeven"
                         class="collapse"
                         aria-labelledby="headingSeven"
                         data-parent="#accordion"
                         style="">
                        <div class="card-body p-0">
                            <ul>
                                <li>
                                    <a href="#" class="d-flex justify-content-between align-items-center">
                                        <p>Add user</p>
                                        <i class="ion-ios-arrow-forward"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex justify-content-between align-items-center">
                                        <p>Add role to user</p>
                                        <i class="ion-ios-arrow-forward"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card mt-1">
                    <div class="card-header p-0" id="headingEight">
                        <h2 class="mb-0">
                            <button class="d-flex pr-4 align-items-center justify-content-between 
                                    btn btn-link collapsed"
                                    data-toggle="collapse"
                                    data-target="#collapseEight"
                                    aria-expanded="false"
                                    aria-controls="collapseEight">
                                <div class="heading d-flex align-items-center">
                                    <h3 class="mb-0 ml-3 p-3">Roles</h3>
                                </div>
                                <i class="fa-manage" aria-hidden="true"></i>
                            </button>
                        </h2>
                    </div>
                    <div id="collapseEight"
                         class="collapse"
                         aria-labelledby="headingEight"
                         data-parent="#accordion"
                         style="">
                        <div class="card-body p-0">
                            <ul>
                                <li>
                                    <a href="#" class="d-flex justify-content-between align-items-center">
                                        <p>Add role</p>
                                        <i class="ion-ios-arrow-forward"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="all-content-wrapper">
        <div class="header-advance-area">
            <div class="mobile-menu-area">
                <div id="mobile" class="container mean-container">
                    <nav class="navbar navbar-expand-xxl navbar-toggleable-sm navbar-light mb-3">
                        <div class="container">
                            <a class="navbar-brand" 
                               asp-area="" 
                               asp-controller="Home" 
                               asp-action="Index">
                                <img class="pt-7 pt-md-0" src="~/Images/kind.png" width="60" alt="header-logo">
                            </a>
                            <button class="navbar-toggler bg-blue" 
                                    type="button" 
                                    data-toggle="collapse" 
                                    data-target=".navbar-collapse" 
                                    aria-controls="navbarSupportedContent"
                                    aria-expanded="false" 
                                    aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="navbar-collapse collapse d-xl-inline-flex">
                                <div id="accordion" 
                                     class="manage-accordion w-100">
                                    <div class="card mt-1">
                                        <div class="card-header p-0" id="headingOne">
                                            <h2 class="mb-0">
                                                <button class="d-flex pr-4 align-items-center 
                                                        justify-content-between btn btn-link collapsed"
                                                        data-toggle="collapse"
                                                        data-target="#collapseOne"
                                                        aria-expanded="false"
                                                        aria-controls="collapseOne">
                                                    <div class="heading d-flex align-items-center">
                                                        <h3 class="mb-0 ml-3 p-3">Desktop</h3>
                                                    </div>
                                                    <i class="fa-manage" aria-hidden="true"></i>
                                                </button>
                                            </h2>
                                        </div>
                                        <div id="collapseOne"
                                             class="collapse"
                                             aria-labelledby="headingOne"
                                             data-parent="#accordion"
                                             style="">
                                            <div class="card-body p-0">
                                                <ul>
                                                    <li class="">
                                                        <a asp-controller="ManageView" 
                                                           asp-action="ManageHome" 
                                                           class="d-flex justify-content-between 
                                                                  align-items-center">
                                                            <p>Orders by service</p>
                                                            <i class="ion-ios-arrow-forward"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a asp-controller="ManageView" 
                                                           asp-action="AllOrders" 
                                                           class="d-flex justify-content-between 
                                                                  align-items-center">
                                                            <p>All orders</p>
                                                            <i class="ion-ios-arrow-forward"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card mt-1">
                                        <div class="card-header p-0" id="headingTwo">
                                            <h2 class="mb-0">
                                                <a class="link-left-menu d-flex pr-4
                                                   align-items-center justify-content-between
                                                   btn-link collapsed mb-0 ml-3 p-3"
                                                   asp-area="Management"
                                                   asp-controller="ManageHomePage"
                                                   asp-action="HomePage">
                                                    Home
                                                </a>
                                            </h2>
                                        </div>
                                    </div>
                                    <div class="card mt-1">
                                        <div class="card-header p-0" id="headingThree">
                                            <h2 class="mb-0">
                                                <a class="link-left-menu d-flex pr-4
                                                   align-items-center justify-content-between
                                                   btn-link collapsed mb-0 ml-3 p-3"
                                                   asp-area="Management"
                                                   asp-controller="ManageProjectsPage"
                                                   asp-action="Projects">
                                                    Projects
                                                </a>
                                            </h2>
                                        </div>
                                    </div>
                                    <div class="card mt-1">
                                        <div class="card-header p-0" id="headingFour">
                                            <h2 class="mb-0">
                                                <a class="link-left-menu d-flex pr-4
                                                   align-items-center justify-content-between
                                                   btn-link collapsed mb-0 ml-3 p-3"
                                                   asp-area="Management"
                                                   asp-controller="ManageServicesPage"
                                                   asp-action="Services">
                                                    Services
                                                </a>
                                            </h2>
                                        </div>
                                    </div>
                                    <div class="card mt-1">
                                        <div class="card-header p-0" id="headingFive">
                                            <h2 class="mb-0">
                                                <a class="link-left-menu d-flex pr-4
                                                   align-items-center justify-content-between
                                                   btn-link collapsed mb-0 ml-3 p-3"
                                                   asp-area="Management"
                                                   asp-controller="ManageBlogsPage"
                                                   asp-action="Blogs">
                                                    Blogs
                                                </a>
                                            </h2>
                                        </div>
                                    </div>
                                    <div class="card mt-1">
                                        <div class="card-header p-0" id="headingSix">
                                            <h2 class="mb-0">
                                                <a class="link-left-menu d-flex pr-4
                                                   align-items-center justify-content-between
                                                   btn-link collapsed mb-0 ml-3 p-3"
                                                   asp-area="Management"
                                                   asp-controller="ManageContactsPage"
                                                   asp-action="Contacts">
                                                    Contacts
                                                </a>
                                            </h2>
                                        </div>
                                    </div>
                                    <div class="card mt-1">
                                        <div class="card-header p-0" id="headingSeven">
                                            <h2 class="mb-0">
                                                <button class="d-flex pr-4 align-items-center 
                                                        justify-content-between btn btn-link collapsed"
                                                        data-toggle="collapse"
                                                        data-target="#collapseSeven"
                                                        aria-expanded="false"
                                                        aria-controls="collapseSeven">
                                                    <div class="heading d-flex align-items-center">
                                                        <h3 class="mb-0 ml-3 p-3">Users</h3>
                                                    </div>
                                                    <i class="fa-manage" aria-hidden="true"></i>
                                                </button>
                                            </h2>
                                        </div>
                                        <div id="collapseSeven"
                                             class="collapse"
                                             aria-labelledby="headingSeven"
                                             data-parent="#accordion"
                                             style="">
                                            <div class="card-body p-0">
                                                <ul>
                                                    <li>
                                                        <a href="#" class="d-flex justify-content-between 
                                                                           align-items-center">
                                                            <p>Add user</p>
                                                            <i class="ion-ios-arrow-forward"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="d-flex justify-content-between 
                                                                           align-items-center">
                                                            <p>Add role to user</p>
                                                            <i class="ion-ios-arrow-forward"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card mt-1">
                                        <div class="card-header p-0" id="headingEight">
                                            <h2 class="mb-0">
                                                <button class="d-flex pr-4 align-items-center 
                                                               justify-content-between btn btn-link collapsed"
                                                        data-toggle="collapse"
                                                        data-target="#collapseEight"
                                                        aria-expanded="false"
                                                        aria-controls="collapseEight">
                                                    <div class="heading d-flex align-items-center">
                                                        <h3 class="mb-0 ml-3 p-3">Roles</h3>
                                                    </div>
                                                    <i class="fa-manage" aria-hidden="true"></i>
                                                </button>
                                            </h2>
                                        </div>
                                        <div id="collapseEight"
                                             class="collapse"
                                             aria-labelledby="headingEight"
                                             data-parent="#accordion"
                                             style="">
                                            <div class="card-body p-0">
                                                <ul>
                                                    <li>
                                                        <a href="#" class="d-flex justify-content-between 
                                                                           align-items-center">
                                                            <p>Add role</p>
                                                            <i class="ion-ios-arrow-forward"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <div class="section-admin container-fluid">
            @RenderBody()
        </div>
    </div>


    <footer class="border-top footer text-muted all-content-wrapper">
        <div class="container">

        </div>
    </footer>

    <script src="~/js/main.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/metisMenu-active.js"></script>
    <script src="~/js/metisMenu.min.js"></script>
    <script src="~/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/js/mCustomScrollbar-active.js"></script>
    <script src="~/js/wow.min.js"></script>
    <script src="~/lib/jquery/admin/jquery.meanmenu.js"></script>
    <script src="~/lib/jquery/admin/modernizr-2.8.3.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/home-page-edit.js"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>