@{
    ViewData["Title"] = "Error";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Invalid email or password.</p>
    <p class="text-danger">Try logging in again.</p>
</header>
