@{
    ViewData["Title"] = "Our projects";
}

<section class="latest-product-area pt-130 pb-110">
    <div class="container">
        <div class="row">
            <div class="mx-auto col-xl-6 col-lg-7 col-md-10">
                <div class="text-center section-title mb-60">
                    <h1>Our Projects</h1>
                    <p>As a builder, we undertake large, complex projects, foster innovation, embrace emerging technologies, and make a difference in the community. </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="single-product">
                    <div class="product-img">
                        <a href="product-details.html">
                            <img src="~/Images/i1.jpg" alt="">
                        </a>
                    </div>
                    <div class="product-content">
                        <h4 class="name"><a href="product-details.html">Panoramic windows</a></h4>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="single-product">
                    <div class="product-img">
                        <a href="product-details.html">
                            <img src="~/Images/i2.jpg" alt="">
                        </a>
                    </div>

                    <div class="product-content">
                        <h4 class="name"><a href="product-details.html">Original roof</a></h4>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="single-product">
                    <div class="product-img">
                        <a href="product-details.html">
                            <img src="~/Images/i3.jpg" alt="">
                        </a>
                    </div>

                    <div class="product-content">
                        <h4 class="name"><a href="product-details.html">High-tech model</a></h4>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="single-product">
                    <div class="product-img">
                        <a href="product-details.html">
                            <img src="~/Images/i4.jpg" alt="">
                        </a>
                    </div>

                    <div class="product-content">
                        <h4 class="name"><a href="product-details.html">Two-story house</a></h4>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="single-product">
                    <div class="product-img">
                        <a href="product-details.html">
                            <img src="~/Images/i5.jpg" alt="">
                        </a>
                    </div>

                    <div class="product-content">
                        <h4 class="name"><a href="product-details.html">Hotel with pool</a></h4>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="single-product">
                    <div class="product-img">
                        <a href="product-details.html">
                            <img src="~/Images/i6.jpg" alt="">
                        </a>
                    </div>

                    <div class="product-content">
                        <h4 class="name"><a href="product-details.html">Wooden house</a></h4>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
