@{
    ViewData["Title"] = "Services";
}

<section id="services-header" class="latest-product-area pt-130 pb-110">
    <div class="container">
        <div class="row">
            <div class="mx-auto col-xl-6 col-lg-7 col-md-10">
                <div class="text-center section-title mb-60 mt-4">
                    <h1>Our Services</h1>
                    <p>As a builder, we undertake large, complex projects, foster innovation, embrace emerging technologies, and make a difference in the community. </p>
                </div>
            </div>
        </div>
    </div>
    <hr />
</section>
<section class="Services">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7 col-lg-6">
                <div id="accordion" class="myaccordion w-100">
                    <div class="card">
                        <div class="card-header p-0" id="headingOne">
                            <h2 class="mb-0">
                                <button class="d-flex pr-4 align-items-center justify-content-between btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    <div class="heading d-flex align-items-center">
                                        <h3 class="mb-0 ml-3 p-3">Manage</h3>
                                    </div>
                                    <i class="fa" aria-hidden="true"></i>
                                </button>
                            </h2>
                        </div>
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion" style="">
                            <div class="card-body p-0">
                                <ul>
                                    <li>
                                        <a href="#" class="d-flex justify-content-between align-items-center">
                                            <p><span>01</span> Account</p>
                                            <i class="ion-ios-arrow-forward"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="d-flex justify-content-between align-items-center">
                                            <p><span>02</span> Settings</p>
                                            <i class="ion-ios-arrow-forward"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="d-flex justify-content-between align-items-center">
                                            <p><span>03</span> Profile</p>
                                            <i class="ion-ios-arrow-forward"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card mt-1">
                        <div class="card-header p-0" id="headingTwo">
                            <h2 class="mb-0">
                                <button class="d-flex pr-4 align-items-center justify-content-between btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <div class="heading d-flex align-items-center">
                                        <h3 class="mb-0 ml-3 p-3">Location</h3>
                                    </div>
                                    <i class="fa" aria-hidden="true"></i>
                                </button>
                            </h2>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion" style="">
                            <div class="card-body p-4">
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card mt-1">
                        <div class="card-header p-0" id="headingThree">
                            <h2 class="mb-0">
                                <button class="d-flex pr-4 align-items-center justify-content-between btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    <div class="heading d-flex align-items-center">
                                        <h3 class="mb-0 ml-3 p-3">Hobbies</h3>
                                    </div>
                                    <i class="fa" aria-hidden="true"></i>
                                </button>
                            </h2>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion" style="">
                            <div class="card-body p-0">
                                <ul>
                                    <li>
                                        <a href="#" class="d-flex justify-content-between align-items-center">
                                            <p>Playing Basketball</p>
                                            <i class="ion-ios-arrow-forward"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="d-flex justify-content-between align-items-center">
                                            <p>Playing Baseball</p>
                                            <i class="ion-ios-arrow-forward"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="d-flex justify-content-between align-items-center">
                                            <p>Running</p>
                                            <i class="ion-ios-arrow-forward"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>